/venv
/data
/generated
.env
/src/mythic_data
/src/heroic_data
/src/generated_mythic
/src/generated_heroic
/src/generated_normal
/src/normal_data
/src/client_secret.json
/static_data/catalyst_items.json
/static_data/encounter-items.json
/static_data/formatted_itemdata.json
/static_data/instances.json